*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.dropdown-menu {
    text-align: center!important;
}
.dropdown-menu a{
    white-space:normal!important;
}
.dropdown-header {
    text-align: center;
    color:#557f92;
    font-size: 15px;
}

.main_arabic_font{
    font-family: 'Amiri', serif;
	font-size: 1.2em;
}

.table-responsive{
    overflow-y: hidden;
}

//Start datatable for arbic
div.dataTables_wrapper {
    direction: rtl;
}

/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
//End datatable for arbic

.table-responsive-update{
    max-height:500px;
    overflow-y:auto;
}